@use "sass:color"

$blue: #1890ff
$light-blue: color.scale($blue, $lightness: 20%)
$dark-blue: color.scale($blue, $lightness: -20%, $saturation: -10%)
$cyan: #13c2c2
$red: #f5222d
$orange: #fa8c16
$green: #52c41a
$white: #ffffff
$black: #323232
$gray-4: #f0f0f0
$gray-5: #d9d9d9
$gray-7: #8c8c8c
$gray-8: #595959

$primary: $blue
$danger: $red
$warning: $orange
$info: $cyan
$success: $green

$cn-prefix: 'dh'

$font-weight-normal: 400
$font-weight-medium: 500
$font-weight-bold: 700

$default-border-radius: 2px

$modal-backdrop-z-index: 1100
$modal-z-index: 1110
$modal-dialog-z-index: 1120
$modal-backdrop-opacity: 0.5
$modal-border-radius: $default-border-radius
$modal-header-padding-y: 16px
$modal-header-padding-x: 24px
$modal-body-padding-y: 24px
$modal-body-padding-x: 24px
$modal-footer-padding-y: 10px
$modal-footer-padding-x: 16px
$modal-backdrop-fade-transition: opacity 200ms ease-out
$modal-fade-transition: transform, opacity 200ms, 200ms ease-out
$modal-fade-transform: scale(0.75) translate(0, -150px)
$modal-content-box-shadow: 0 0 8px 2px #0000001f
